<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Obat</title>
</head>
<body>
    <nav>
        <a href="/">Apotek PAW</a>
    </nav>
    <h1>Data Obat Apotek</h1>
    <form action="/" method="post">
        <input type="text" name="search" id="search" value="<%= search %>" placeholder="search">
        <input type="submit" value="submit">
        <ul>
            <label for="sortby">sort by:</label>
            <li>
                <span>date</span>
                <input type="radio" name="sortby" value="date" <%= sortby=="date" ? "checked" : "" %>>
            </li>
            <li>
                <span>A-Z</span>
                <input type="radio" name="sortby" value="A-Z" <%= sortby=="A-Z" ? "checked" : "" %>>
            </li>
            <li>
                <span>Z-A</span>
                <input type="radio" name="sortby" value="Z-A"   <%= sortby=="Z-A" ? "checked" : "" %>>
            </li>
        </ul>
    </form>
    <table>
        <% for( let i = 0; i < medicines.length; i++ ) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= medicines[i].name %></td>
                <td>
                    <a href="/info/<%= medicines[i]._id %>">Detail</a>
                    <a href="/transaction/<%= medicines[i]._id %>">Transaksi</a>
                    <a href="/edit/<%= medicines[i]._id %>">Edit</a>
                    <a href="/delete/<%= medicines[i]._id %>"
                        onclick="return confirm('Hapus data obat?')">Hapus</a>
                </td>
            </tr>
        <% } %>
    </table>
    <hr>
    <a href="/add">Tambah Obat</a>
</body>
</html>